.Works{
    width: 100%;
    padding: 10rem 0;
    background-image: url(../assets/shinehero.svg);
    background-repeat: no-repeat;
    background-position: 10% -10%;
}

.WorksContainer{
    width: 65%;
    margin: 0 auto;
}


.WorksTitle span{
    color: var(--dark3);
}
.WorksTitle hr{
    margin: 5rem 0;
    height: 1px;
    border-color: var(--dark3);
}
.ButtonContato{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 4rem;
}