.Insp{
    display: flex;
    background-image: url(../assets/shinehero.svg);
    background-repeat: no-repeat;
    background-position: 10% -50% ;
}

.inspContainer{
    margin: 0 auto;
    width: 65%;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    display: flex;
}
.inspContainer p{
    max-width: 54rem;
    padding: 1.6rem 0 5rem 0;
}


.inspContainer h1{
    font-size: 19rem;
    color: var(--brand-color);
}

.inspLeft{
    max-width: max-content;
}
.inspRight{
    max-width: fit-content;
}